<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./register.component.scss">
   <title>Document</title>
</head>

<body>

   <section class="container">
      <div class="form-container">
         <form class="form">
           <div class="form-group">
             <label for="name">Username</label>
             <input name="name" id="email" type="text">
           </div>
           <div class="form-group">
             <label for="email">Email</label>
             <input name="email" id="email" type="text">
           </div>
           <div class="form-group">
             <label for="password">Password</label>
             <input name="password" id="password" type="password">
           </div>
           <div class="form-group">
             <label for="password">Confirm password</label>
             <input name="password" id="password" type="password">
           </div>
           <a routerLink="/courses" class="ms-auto">
           <button type="submit" class="btn btn-primary btn-lg px-4">
              Submit
            </button>
          </a>
         </form>
       </div>
   </section>
</body>

</html>