<section class="w-100">
    <div class="p-5 w-75 mx-auto mt-5">
        <div class="intro d-flex">
            <div class="image bg-warning rounded"></div>
            <div class="d-flex flex-column mx-4">
                <h2 class="display-3">Media literacy</h2>
                <p class="description my-5">This course is designed to equip participants with the essential skills and knowledge needed to navigate and critically engage with various forms of media. Through a combination of theoretical concepts, practical exercises, and real-world examples, participants will develop a comprehensive understanding of media literacy and its relevance in today's digital age.</p>
            </div>
        </div>
        <app-list-item [isLesson]="true" [isCourse]="false" parentRoute="/lesson" class="course-component" [items]="lessons"></app-list-item>
    </div>
</section> 