<section class="w-100">
    <div class="p-5 w-75 mx-auto mt-5">
        <div class="intro d-flex p-3">
            <div class="image bg-warning rounded overflow-hidden">
                <img src="../../assets/course images/media literacy.jpg" alt="media literacy" class="w-100 h-100 object-fit-cover">
            </div>
            <div class="d-flex flex-column mx-4">
                <h2 class="display-3 border-bottom border-black pb-2">Media literacy</h2>
                <p class="description my-4 fs-5">This course is designed to equip participants with the essential skills and knowledge needed to navigate and critically engage with various forms of media. Through a combination of theoretical concepts, practical exercises, and real-world examples, participants will develop a comprehensive understanding of media literacy and its relevance in today's digital age.</p>
            </div>
        </div>
        <app-list-item [isLesson]="true" [isCourse]="false" parentRoute="/lesson" class="course-component" [items]="lessons"></app-list-item>
    </div>
</section> 